@import './../../styles/stylesheet.scss';

.patient-page{
    color: $main_font_color;
}

h1{
    font-weight: 500;
    text-align: start;
    color: $dark_font_color;
    margin: 0;
    margin-top: 0.3rem;
    margin-bottom: 0.6rem;
}




