$main_background: #f7f7f5;
$main_green: #0f857d;
$main_green_hover: #5e8f8c;

$main_font_color: #555758;
$light_font_color: #e0e0e0;
$dark_font_color: #262a2b;

$inactive_color: #949596;
$inactive_color_hover: #8a8a8a;

